In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
# Load the dataset
df = pd.read_csv("data/train.csv")  # Adjust path if needed

# Display first 5 rows
print(df.head())

   ACTION  RESOURCE  MGR_ID  ROLE_ROLLUP_1  ROLE_ROLLUP_2  ROLE_DEPTNAME  \
0       1     39353   85475         117961         118300         123472
1       1     17183    1540         117961         118343         123125
2       1     36724   14457         118219         118220         117884
3       1     36135    5396         117961         118343         119993
4       1     42680    5905         117929         117930         119569

   ROLE_TITLE  ROLE_FAMILY_DESC  ROLE_FAMILY  ROLE_CODE
0      117905            117906       290919     117908
1      118536            118536       308574     118539
2      117879            267952        19721     117880
3      118321            240983       290919     118322
4      119323            123932        19793     119325

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32769 entries, 0 to 32768
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ACTION            32769 non-null  int64
 1   RESOURCE          32769 non-null  int64
 2   MGR_ID            32769 non-null  int64
 3   ROLE_ROLLUP_1     32769 non-null  int64
 4   ROLE_ROLLUP_2     32769 non-null  int64
 5   ROLE_DEPTNAME     32769 non-null  int64
 6   ROLE_TITLE        32769 non-null  int64
 7   ROLE_FAMILY_DESC  32769 non-null  int64
 8   ROLE_FAMILY       32769 non-null  int64
 9   ROLE_CODE         32769 non-null  int64
dtypes: int64(10)
memory usage: 2.5 MB

In [4]:
# Count null values in each column
print("\nNull values in each column:")
print(df.isnull().sum())

Null values in each column:
ACTION              0
RESOURCE            0
MGR_ID              0
ROLE_ROLLUP_1       0
ROLE_ROLLUP_2       0
ROLE_DEPTNAME       0
ROLE_TITLE          0
ROLE_FAMILY_DESC    0
ROLE_FAMILY         0
ROLE_CODE           0
dtype: int64

In [5]:
print((df.isnull().sum() / len(df)) * 100)  # Shows % of nulls

ACTION              0.0
RESOURCE            0.0
MGR_ID              0.0
ROLE_ROLLUP_1       0.0
ROLE_ROLLUP_2       0.0
ROLE_DEPTNAME       0.0
ROLE_TITLE          0.0
ROLE_FAMILY_DESC    0.0
ROLE_FAMILY         0.0
ROLE_CODE           0.0
dtype: float64